bleach==6.0.0
certifi==2023.5.7
charset-normalizer==3.1.0
docutils==0.20.1
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
keyring==23.13.1
markdown-it-py==2.2.0
mdurl==0.1.2
more-itertools==9.1.0
pkginfo==1.9.6
pyasn1==0.5.0
pycryptodome==3.18.0
Pygments==2.15.1
python-dotenv==1.0.0
readme-renderer==37.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.4.1
rsa==4.9
six==1.16.0
twine==4.0.2
urllib3==2.0.2
webencodings==0.5.1
zipp==3.15.0
